.timeseries__header {
  max-width: 500px;
  margin: 0 auto 50px;
  &-checkboxes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  @media screen and (max-width: 700px) {
    margin: 0 auto 20px;
    margin-bottom: 0;
  }
}
