.checkbox {
  display: block;
  position: relative;
  padding-left: 40px;
  align-items: center;
  cursor: pointer;
  &:hover {
    .checkbox-checkmark {
      border-color: #2196F3;
      background: #a9e0f9;
    }
  }
  &-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked {
      & ~ .checkbox-checkmark {
        background-color: #139cda;
        &::after {
          display: block;
        }
      }
    }
  }
  &-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #139cda;
    box-sizing: border-box;
    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &-label {
    position: relative;
    top: 2px;
  }
  @media screen and (max-width: 700px) {
    padding-left: 30px;
    &-label {
      font-size: 14px;
    }
  }
}
