.map {
  height: 100%;
  &.sidebar-opened {
    margin-left: 280px;
  }
  .leaflet-container {
    height: 100%;
  }
  .popup-country-name {
    font-size: 18px;
    font-weight: 500;;
  }
}

// Leaflet somehow loses some CSS during map reinit

a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  border: none;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

.leaflet-control-attribution.leaflet-control {
  font-size: 11px;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
}

.leaflet-control-attribution a {
  color: #0078A8;
  text-decoration: none;
}

